<div layout="column">
  <div flex>
      <mat-toolbar color="primary">
        <span>Configure Redmine</span>
      </mat-toolbar>
  </div>
  <form [formGroup]="credentials" action="none" novalidate>
    <div flex>
        <mat-form-field>
          <input matInput placeholder="URL" formControlName="url">
          <mat-error *ngIf="url.invalid">{{ getErrorMsg(url) }}</mat-error>
        </mat-form-field>
    </div>
    <div flex>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="username.invalid">{{ getErrorMsg(username) }}</mat-error>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error *ngIf="password.invalid">{{ getErrorMsg(password) }}</mat-error>
      </mat-form-field>
    </div>
    <div flex>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm">
          <mat-error *ngIf="passwordConfirm.invalid">{{ getErrorMsg(passwordConfirm) }}</mat-error>
        </mat-form-field>
      </div>
  </form>
</div>
