<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
      <mat-toolbar>
        <span>Navigation</span>
        <mat-toolbar-row>
          <a mat-button routerLink="/config"><mat-icon>settings</mat-icon>Configure Redmine</a>
        </mat-toolbar-row>
      </mat-toolbar>
  </mat-sidenav>
  <div layout="column">
    <div flex>
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <span>Redmine</span>
          <span class="fill-remaining-space"></span>
          <form method="none" [formGroup]="durationForm">
            <button matInput mat-icon-button (click)="timerStartCmd$.next()" *ngIf="!(isRunning$ | async)"><mat-icon>play_arrow</mat-icon></button>
            <button matInput mat-icon-button (click)="timerStopCmd$.next()" *ngIf="isRunning$ | async"><mat-icon>pause</mat-icon></button>
            <mat-form-field class="two-chars">
              <input matInput placeholder="h" type="number" formControlName="hours" max="24" min="0">
            </mat-form-field>
            <mat-form-field class="two-chars">
              <input matInput placeholder="m" type="number" formControlName="minutes" max="59" min="0">
            </mat-form-field>
            <mat-form-field class="two-chars">
              <input matInput placeholder="s" type="number" formControlName="seconds" max="59" min="0">
            </mat-form-field>
          </form>
        </mat-toolbar>
    </div>
    <div flex [formGroup]="search">
        <mat-form-field class="full-width">
          <input matInput placeholder="Search" formControlName="search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div flex style="color:red">{{error$ | async}}</div>
    <div class="issues">
      <app-issue-entry *ngFor="let i of issues$ | async" [id]="i.id" [title]="i.title"></app-issue-entry>
    </div>
  </div>
</mat-sidenav-container>
