
mat-sidenav-container {
  height: 100%;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.two-chars {
  width: 3rem
}

.issues {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}
