<mat-sidenav-container fullscreen class="content">
  <mat-sidenav #sidenav>
      <mat-toolbar>
        <span>Navigation</span>
        <mat-toolbar-row>
          <a mat-button routerLink="/config"><mat-icon>settings</mat-icon>Configure Redmine</a>
        </mat-toolbar-row>
      </mat-toolbar>
  </mat-sidenav>
  <div layout="column">
    <div flex>
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <span>Redmine</span>
          <span class="fill-remaining-space"></span>
          <button matInput mat-icon-button (click)="timerStartCmd$.next()" *ngIf="!(isRunning$ | async)"><mat-icon>play_arrow</mat-icon></button>
          <button matInput mat-icon-button (click)="timerStopCmd$.next()" *ngIf="isRunning$ | async"><mat-icon>pause</mat-icon></button>
          <app-duration [duration$]="runningTime$" (change)="onDurationChange($event)"></app-duration>
        </mat-toolbar>
    </div>
    <div [formGroup]="search">
        <mat-form-field class="full-width">
          <input matInput placeholder="Search" formControlName="search">
          <button matInput matSuffix mat-icon-button (click)="searchAgain$.next()" *ngIf="!(showCancel$ | async)"><mat-icon>search</mat-icon></button>
          <button matInput matSuffix mat-icon-button (click)="clearSearch()" *ngIf="showCancel$ | async"><mat-icon>clear</mat-icon></button>
        </mat-form-field>
    </div>
    <div flex style="color:red">{{error$ | async}}</div>
    <div class="issues">
      <app-issue-entry *ngFor="let i of issues$ | async" [head]="i"></app-issue-entry>
    </div>
  </div>
</mat-sidenav-container>
