<app-main-frame name="Redmine">
  <button matInput mat-icon-button main-frame-toolbar (click)="timerStartCmd$.next()" *ngIf="!(isRunning$ | async)"><mat-icon>play_arrow</mat-icon></button>
  <button matInput mat-icon-button main-frame-toolbar (click)="timerStopCmd$.next()" *ngIf="isRunning$ | async"><mat-icon>pause</mat-icon></button>
  <app-duration main-frame-toolbar [duration$]="runningTime$" (change)="onDurationChange($event)"></app-duration>

  <div main-frame-body>
    <div [formGroup]="search">
        <mat-form-field class="full-width">
          <input matInput placeholder="Search" formControlName="search">
          <button matInput matSuffix mat-icon-button (click)="searchAgain$.next()" *ngIf="!(showCancel$ | async)"><mat-icon>search</mat-icon></button>
          <button matInput matSuffix mat-icon-button (click)="clearSearch()" *ngIf="showCancel$ | async"><mat-icon>clear</mat-icon></button>
        </mat-form-field>
    </div>
    <div flex style="color:red">{{error$ | async}}</div>
    <div class="issues">
      <app-issue-entry *ngFor="let i of issues$ | async" [head]="i"></app-issue-entry>
    </div>
  </div>
</app-main-frame>
